################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/PokemonEncTool/FileContentIndex/a8f46750-c251-4a63-967b-e13243b25661.vsidx
